<ActionBar>
    <StackLayout orientation="horizontal"
        ios:horizontalAlignment="center"
        android:horizontalAlignment="left">
        <Label [text]="title" class="title" (tap)="showOrders()"></Label>
    </StackLayout>
    <ActionItem ios.position="left" (tap)="showOrders()"><Label id="leftIcon" [text]="backIcon" class="actionBarLeftIcon"></Label></ActionItem>
    <ActionItem ios.position="right" (tap)="addOrderLine()"><Label id="rightIcon" [text]="plusIcon" class="actionBarRightIcon"></Label></ActionItem>
    <NavigationButton visibility="collapsed"></NavigationButton>
</ActionBar>

<StackLayout [visibility]="(app.loading)?'visible':'collapse'">
    <Image #img (loaded)="app.animateLoading(img)" src="~/assets/img/ball.png" class="ball"></Image>
</StackLayout>

<StackLayout [visibility]="(app.loading)?'collapse':'visible'" backgroundColor="black">
    <Label [text]="Name" class="customerName"></Label>

    <!-- Order header tab -->
    <StackLayout [visibility]="(selectedTab===0 && !showingDatePicker)?'visible':'collapse'" backgroundColor="black">
        <StackLayout height="90%">
            <Button text="Remove Order" class="appButton" (tap)="confirmRemoveOrder()"></Button>
            <ListView id="orderDataList" [items]="orderData" backgroundColor="white">
                <ng-template let-orderData="item" let-odd="odd" let-index="index">
                <GridLayout columns="6*,6*" height="50" padding="5" class="listEven">
                    <Label row="0" col="0" [text]="orderData.columnLabel" class="columnLabel" verticalAlignment="center"></Label>
                    <TextField row="0" col="1" #input [text]="orderData.columnValue" class="columnValue" (focus)="editOrder(index)" (blur)="updateOrder(index,input.text)" [visibility]="(orderData.editable&&!orderData.showDatePicker)?'visible':'collapse'"></TextField>
                    <Label row="0" col="1" [text]="orderData.columnValue" class="columnValue" [visibility]="(!orderData.editable&&!orderData.showDatePicker)?'visible':'collapse'" verticalAlignment="center"></Label>
                    <Label row="0" col="1" [text]="orderData.columnValue" class="columnValue" (tap)="editDate(index)" [visibility]="(orderData.showDatePicker)?'visible':'collapse'" verticalAlignment="center"></Label>
                </GridLayout>
                </ng-template>
            </ListView>
        </StackLayout>
    </StackLayout>

    <!-- Date Picker for order date fields -->
    <StackLayout [visibility]="(selectedTab===0 && showingDatePicker)?'visible':'collapse'" backgroundColor="black">
        <GridLayout columns="1*,3*,1*" height="10%" class="listEven">
            <Button col="0" [text]="cancelIcon" class="redIcon" (tap)="cancelEditDate()"></Button>
            <Label col="1" [text]="editColumn" class="editColumn"></Label>
            <Button col="2" [text]="doneIcon" class="greenIcon" (tap)="doneEditDate()"></Button>
        </GridLayout>
        <DatePicker id="datePicker" height="80%"></DatePicker>
    </StackLayout>
    
    <!-- Customer tab -->
    <StackLayout [visibility]="(selectedTab===1)?'visible':'collapse'" backgroundColor="black">
        <ListView id="customerDataList" [items]="customerData" height="90%" backgroundColor="white">
            <ng-template let-customerData="item" let-odd="odd" let-index="index">
            <GridLayout columns="6*,6*" height="50" padding="5" class="listEven">
                <Label row="0" col="0" [text]="customerData.columnLabel" class="columnLabel" verticalAlignment="center"></Label>
                <TextField row="0" col="1" #input [text]="customerData.columnValue" class="columnValue" (focus)="editCustomer({index:index})" (blur)="updateCustomer(index,input.text)" [visibility]="(customerData.editable)?'visible':'collapse'" verticalAlignment="center"></TextField>
                <Label row="0" col="1" [text]="customerData.columnValue" class="columnValue" [visibility]="(!customerData.editable)?'visible':'collapse'" verticalAlignment="center"></Label>
            </GridLayout>
            </ng-template>
        </ListView>
    </StackLayout>
    
    <!-- Order lines tab -->
    <StackLayout [visibility]="(selectedTab===2)?'visible':'collapse'" backgroundColor="black">
        <StackLayout height="90%">
            <GridLayout columns="3*,3*,3*,3*" height="50" class="listHeader" verticalAlignment="center">
                <Label row="0" col="0" text="Line#"></Label>
                <Label row="0" col="1" text="Item"></Label>
                <Label row="0" col="2" text="Price"></Label>
                <Label row="0" col="3" text="Qty"></Label>
            </GridLayout>
            <ListView [items]="ttOrderLine" (itemTap)="showLine($event)" height="100%" backgroundColor="white">
                <ng-template let-ttOrderLine="item" let-odd="odd">
                <GridLayout columns="3*,3*,3*,3*" height="50" padding="5" class="listEven" [ngClass]="{'listOdd':odd}">
                    <Label row="0" col="0" [text]="ttOrderLine.Linenum" verticalAlignment="center"></Label>
                    <Label row="0" col="1" [text]="ttOrderLine.Itemnum" verticalAlignment="center"></Label>
                    <Label row="0" col="2" [text]="'$'+ttOrderLine.Price" verticalAlignment="center"></Label>
                    <Label row="0" col="3" [text]="ttOrderLine.Qty" verticalAlignment="center"></Label>
                </GridLayout>
                </ng-template>
            </ListView>
        </StackLayout>
    </StackLayout>

    <!-- tabs -->
    <GridLayout columns="1*,1*,1*" height="10%" top="90%">
        <Label col="0" text="Order"    (tap)="selectTab(0)" class="tab" [ngClass]="{'tabSelected':selectedTab===0}"></Label>
        <Label col="1" text="Customer" (tap)="selectTab(1)" class="tab" [ngClass]="{'tabSelected':selectedTab===1}"></Label>
        <Label col="2" text="Lines"    (tap)="selectTab(2)" class="tab" [ngClass]="{'tabSelected':selectedTab===2}"></Label>
    </GridLayout>
</StackLayout>