<ActionBar>
    <StackLayout orientation="horizontal"
        ios:horizontalAlignment="center"
        android:horizontalAlignment="center">
        <Label text="Sports" class="signinTitle"></Label>
    </StackLayout>
    <NavigationButton visibility="collapsed"></NavigationButton>
</ActionBar>

<StackLayout backgroundColor="black" style="padding:30px;">
    <Image src="~/assets/img/ball.png" class="signinBall" [visibility]="(smallScreen)?'collapse':'visible'"></Image>
    <TextField id="userName" hint="👤 Username" editable="{{fieldsEnabled}}" class="signinInput" (textChange)="newUsername()"></TextField>
    <TextField id="password" hint="🔑 Password" editable="{{fieldsEnabled}}" class="signinInput" (textChange)="newPassword()" secure="true"></TextField>
    <Button [text]="btnText" (tap)="signin()" isEnabled="{{btnEnabled}}" class="appButton"></Button>
    <Label text="NativeScript Kinvey" class="appTitle" textWrap="true"></Label>
    <Label text="OpenEdge Sports" class="appTitle" textWrap="true"></Label>
    <Label [text]="'Version ' + app.props.version" class="appInfo"></Label>
    <Label [text]="app.props.date" class="appInfo"></Label>
    <Button text="progress.com/company" class="appURL" (tap)="launchCompany()"></Button>
    <Button text="progress.com/kinvey" class="appURL" (tap)="launchKinvey()"></Button>
    <Button text="nativescript.org" class="appURL" (tap)="launchNativeScript()"></Button>
    <Button text="progress.com/privacy" class="appURL" (tap)="launchPrivacy()"></Button>
</StackLayout>
