<ActionBar>
    <StackLayout orientation="horizontal"
        ios:horizontalAlignment="center"
        android:horizontalAlignment="left">
        <Label [text]="title" class="title" (tap)="signOut()"></Label>
    </StackLayout>
    <ActionItem ios.position="left" (tap)="signOut()"><Label id="leftIcon" [text]="exitIcon" class="actionBarLeftIcon"></Label></ActionItem>
    <ActionItem ios.position="right" (tap)="changeSort()"><Label id="rightIcon" [text]="sortIcon" class="actionBarRightIcon"></Label></ActionItem>
    <NavigationButton visibility="collapsed"></NavigationButton>
</ActionBar>

<StackLayout [visibility]="(app.loading)?'visible':'collapse'">
    <Image #img (loaded)="app.animateLoading(img)" src="~/assets/img/ball.png" class="ball"></Image>
</StackLayout>

<StackLayout [visibility]="(app.loading)?'collapse':'visible'">
    <GridLayout columns="2*,11*" height="50" class="listHeader">
        <Label row="0" col="0" text="#"></Label>
        <Label row="0" col="1" text="Customer"></Label>
    </GridLayout>
    <ListView [items]="dsCustomer" (itemTap)="showOrders($event)" (loadMoreItems)="loadMoreItems()" height="100%">
            <ng-template let-dsCustomer="item" let-odd="odd">
            <GridLayout class="list-group-item listEven" columns="2*,11*" [ngClass]="{'listOdd':odd}">
                <Label row="0" col="0" [text]="dsCustomer.CustNum"></Label>
                <Label row="0" col="1" [text]="dsCustomer.Name"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>