@import './app.common.css';

.signinBall {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 15%;
    text-align: center;
}

.ball {
    margin-top: 10%;
    width: 15%;
    text-align: center;
}

.appButton {
    font-size: 30;
    height: 55;
}

.signinInput {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
}

.actionBarLeftIcon {
    font-size: 0%;
}

.actionBarRightIcon {
    padding-right: 15;
}

.listEven {
    height: 50;
    font-size: 20;
    color: black;
}

.tab {
    padding-top: 15;
    height: 200;
}