<ActionBar>
    <StackLayout orientation="horizontal"
        ios:horizontalAlignment="center"
        android:horizontalAlignment="left">
        <Label [text]="title" class="title" (tap)="showCustomers()"></Label>
    </StackLayout>
    <ActionItem ios.position="left" (tap)="showCustomers()"><Label [text]="backIcon" class="actionBarLeftIcon"></Label></ActionItem>
    <ActionItem ios.position="right" (tap)="addOrder()"><Label [text]="plusIcon" class="actionBarRightIcon"></Label></ActionItem>
    <NavigationButton visibility="collapsed"></NavigationButton>
</ActionBar>

<StackLayout [visibility]="(app.loading)?'visible':'collapse'">
    <Image #img (loaded)="app.animateLoading(img)" src="~/assets/img/ball.png" class="ball"></Image>
</StackLayout>

<StackLayout [visibility]="(app.loading)?'collapse':'visible'">
    <GridLayout columns="3*,4*,3*" height="50" class="listHeader">
        <Label row="0" col="0" text="Order#"></Label>
        <Label row="0" col="1" text="Date"></Label>
        <Label row="0" col="2" text="Status"></Label>
    </GridLayout>
    <ListView [items]="dsOrder" (itemTap)="showOrderLines($event)" height="100%">
        <ng-template let-dsOrder="item" let-odd="odd">
        <GridLayout class="list-group-item listEven" columns="3*,4*,3*" [ngClass]="{'listOdd':odd}">
            <Label row="0" col="0" [text]="dsOrder.Ordernum"></Label>
            <Label row="0" col="1" [text]="dsOrder.formattedDate"></Label>
            <Label row="0" col="2" [text]="dsOrder.OrderStatus"></Label>
        </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>