<ActionBar>
    <StackLayout orientation="horizontal"
        ios:horizontalAlignment="center"
        android:horizontalAlignment="left">
        <Label [text]="title" class="title" (tap)="showCustomers()"></Label>
    </StackLayout>
    <ActionItem ios.position="left" (tap)="showCustomers()"><Label id="leftIcon" [text]="backIcon" class="actionBarLeftIcon"></Label></ActionItem>
    <ActionItem ios.position="right" (tap)="addOrder()"><Label id="rightIcon" [text]="plusIcon" class="actionBarRightIcon"></Label></ActionItem>
    <NavigationButton visibility="collapsed"></NavigationButton>
</ActionBar>

<StackLayout [visibility]="(app.loading)?'visible':'collapse'">
    <Image #img (loaded)="app.animateLoading(img)" src="~/assets/img/ball.png" class="ball"></Image>
</StackLayout>

<StackLayout [visibility]="(app.loading)?'collapse':'visible'">
    <Label [text]="Name" class="customerName"></Label>
    <GridLayout columns="3*,4*,3*" height="50" class="listHeader">
        <Label row="0" col="0" text="Order#" verticalAlignment="center"></Label>
        <Label row="0" col="1" text="Date" verticalAlignment="center"></Label>
        <Label row="0" col="2" text="Status" verticalAlignment="center"></Label>
    </GridLayout>
    <ListView [items]="dsOrder" (itemTap)="showOrderDetail($event)" (loadMoreItems)="loadMoreItems()" height="100%">
        <ng-template let-dsOrder="item" let-odd="odd">
        <GridLayout columns="3*,4*,3*" height="50" padding="5" class="listEven" [ngClass]="{'listOdd':odd}">
            <Label row="0" col="0" [text]="dsOrder.Ordernum" verticalAlignment="center"></Label>
            <Label row="0" col="1" [text]="dsOrder.OrderDate" verticalAlignment="center"></Label>
            <Label row="0" col="2" [text]="dsOrder.OrderStatus" verticalAlignment="center"></Label>
        </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>