<ActionBar>
    <StackLayout orientation="horizontal"
        ios:horizontalAlignment="center"
        android:horizontalAlignment="left">
        <Label [text]="title" class="title" (tap)="showOrderDetail()"></Label>
    </StackLayout>
    <ActionItem ios.position="left" (tap)="showOrderLine()"><Label id="leftIcon" [text]="backIcon" class="actionBarLeftIcon"></Label></ActionItem>
    <ActionItem ios.position="right" (tap)="takePicture()"><Label id="rightIcon" [text]="cameraIcon" class="actionBarRightIcon"></Label></ActionItem>
    <NavigationButton visibility="collapsed"></NavigationButton>
</ActionBar>

<StackLayout [visibility]="(app.loading)?'visible':'collapse'">
    <Image #img (loaded)="app.animateLoading(img)" src="~/assets/img/ball.png" class="ball"></Image>
</StackLayout>

<StackLayout [visibility]="(app.loading)?'collapse':'visible'">
    <Label [text]="dsItem.ItemName" class="customerName"></Label>
    <ListView [items]="itemData" height="60%">
            <ng-template let-itemData="item" let-odd="odd">
            <GridLayout columns="6*,6*" height="50" padding="5">
                <Label row="0" col="0" [text]="itemData.columnLabel" class="columnLabel"></Label>
                <Label row="0" col="1" [text]="itemData.columnValue" class="columnValue"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
    <Image id="itemImage"></Image>
</StackLayout>