<ActionBar>
    <StackLayout orientation="horizontal"
        ios:horizontalAlignment="center"
        android:horizontalAlignment="center">
        <Label [text]="title" class="title"></Label>
    </StackLayout>
    <ActionItem ios.position="left" (tap)="showCustomers()"><Label [text]="backIcon" class="icon"></Label></ActionItem>
    <NavigationButton visibility="collapsed"></NavigationButton>
</ActionBar>

<StackLayout [visibility]="(app.loading)?'visible':'collapse'">
    <Image #img (loaded)="app.animateLoading(img)" src="~/assets/img/ball.png" class="ball"></Image>
</StackLayout>

<StackLayout [visibility]="(app.loading)?'collapse':'visible'">
        <ListView [items]="dsOrder" (itemTap)="showOrder($event)" height="100%">
                <ng-template let-dsOrder="item" let-odd="odd">
                <GridLayout class="list-group-item listEven" columns="6*,6*" [ngClass]="{'listOdd':odd}">
                    <Label row="0" col="0" [text]="dsOrder.OrderDate"></Label>
                    <Label row="0" col="1" [text]="dsOrder.OrderStatus"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
</StackLayout>